# local docker-compose setup for testing outside Kubernetes
.compose/data/clouseau
.compose/data/couchdb
.compose/data/maven-repo
.compose/etc/couchdb

# local helm setup for minikube
.helm/charts/
.helm/cloudless-couchdb/charts/
.helm/*.tgz

.DS_Store
data-bk
